@charset "UTF-8";
/* aboutCOmpany.css */
/* color.css */
#wrap {
  width: 100%;
  height: auto;
  min-height: 1500px;
  margin: auto; }

.area_full {
  max-width: 900px;
  margin: auto; }
  @media screen and (min-width: 640px) and (max-width: 1023px) {
    .area_full {
      max-width: 580px; } }
  @media screen and (min-width: 1024px) and (max-width: 1439px) {
    .area_full {
      max-width: 900px; } }
  @media screen and (min-width: 1440px) and (max-width: 1919px) {
    .area_full {
      max-width: 1100px; } }
  @media screen and (min-width: 1920px) {
    .area_full {
      max-width: 1300px; } }

#viewBox {
  width: 100%;
  height: 100vh; }
  #viewBox > h2 {
    position: absolute;
    left: 10%;
    top: 40%;
    z-index: 100;
    font-size: 5rem;
    color: #f93;
    text-transform: uppercase;
    text-shadow: 0.2rem 0.2rem 0.2rem #000; }

.video_bg {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%; }
  .video_bg > .video {
    /* full size 만들기 */
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    min-width: 100%;
    height: auto;
    min-height: 100%;
    border: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

#conBox {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 800px;
  padding-top: 150px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#666), to(#060C08));
  background-image: -webkit-linear-gradient(#666, #060C08);
  background-image: -o-linear-gradient(#666, #060C08);
  background-image: linear-gradient(#666, #060C08); }
  #conBox:after {
    content: "";
    display: block;
    clear: both; }

.title_bg {
  position: absolute;
  top: 400px;
  width: 60%;
  min-width: 400px;
  max-width: 1700px;
  height: 90px;
  margin-left: 5%;
  background-color: #f93; }
  .title_bg > h2 {
    position: absolute;
    top: 50px;
    font-size: 4rem;
    color: #fdfdfd;
    text-shadow: 0.2rem 0.2rem 0.2rem #000;
    width: 100%;
    height: 100%;
    margin-left: 50%;
    text-transform: uppercase; }

.con_text {
  position: absolute;
  top: 600px;
  width: 70%;
  height: auto;
  padding: 60px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .con_text > p {
    width: 100%;
    height: auto;
    color: #fdfdfd;
    font-size: 1.5rem; }

.con_img_bg {
  float: right;
  width: 45%;
  height: 700px; }
  .con_img_bg > .con_img {
    width: 100%;
    height: 100%;
    background-image: url("../../img/showbox/bg-pattern.png");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto 100%; }

#shortHistory {
  width: 100%;
  height: auto;
  min-height: 800px;
  background-color: #060c08; }

.his_area {
  width: 100%;
  height: 100%; }
  .his_area li {
    width: 100%;
    height: 400px; }
    .his_area li div {
      width: 50%;
      height: 100%; }
    .his_area li:nth-child(2n+1) > .img {
      float: left;
      background-color: #fcc; }
    .his_area li:nth-child(2n+1) > .text {
      float: right;
      background-color: #cfc; }
    .his_area li:nth-child(2n) > .img {
      float: right;
      background-color: #fcc; }
    .his_area li:nth-child(2n) > .text {
      float: left;
      background-color: #cfc; }

#conBox02 {
  width: 100%;
  height: auto;
  min-height: 600px;
  background-color: #060c08; }
