@charset "UTF-8";
/* aboutCOmpany.css */
/* color.css */
#wrap {
  width: 100%;
  height: auto;
  min-height: 1500px;
  margin: auto; }

#viewBox {
  width: 100%;
  height: 100vh; }

#viewBox > h2 {
  position: absolute;
  left: 10%;
  top: 40%;
  z-index: 100;
  font-size: 5rem;
  color: #f93;
  text-transform: uppercase;
  text-shadow: 0.2rem 0.2rem 0.2rem #000; }

.video_bg {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%; }

.video_bg > .video {
  /* full size 만들기 */
  position: absolute;
  top: 50%;
  left: 50%;
  width: auto;
  min-width: 100%;
  height: auto;
  min-height: 100%;
  border: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

#conBox {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 1500px;
  padding-top: 200px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#060C08), to(#666));
  background-image: -webkit-linear-gradient(#060C08, #666);
  background-image: -o-linear-gradient(#060C08, #666);
  background-image: linear-gradient(#060C08, #666); }

#conBox:after {
  content: "";
  display: block;
  clear: both; }

.title_bg {
  position: absolute;
  top: 400px;
  width: 60%;
  min-width: 400px;
  max-width: 800px;
  height: 90px;
  margin-left: 5%;
  background-color: #f93; }

.title_bg > h2 {
  position: absolute;
  top: 50px;
  font-size: 4rem;
  color: #fdfdfd;
  text-shadow: 0.2rem 0.2rem 0.2rem #000;
  width: 100%;
  height: 100%;
  margin-left: 50%;
  text-transform: uppercase; }

.con_img_bg {
  float: right;
  width: 50%;
  height: 800px; }

.con_img {
  width: 100%;
  height: 100%;
  background-image: url("../../img/showbox/bg-pattern.png");
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: 100% auto; }
