/* filmPage.css */
/* color.css */
#wrap {
  width: 100%;
  height: auto;
}

#titleBox {
  width: 100%;
  height: 400px;
  background-color: #ddd;
}
#titleBox > h2 {
  width: 100%;
  height: 50px;
  padding-top: 150px;
  box-sizing: border-box;
  font-size: 50px;
  text-align: center;
  text-transform: uppercase;
}
#titleBox > .title_img {
  width: 100%;
  height: 100%;
}

#detailBox {
  width: 100%;
  height: auto;
  min-height: 800px;
  background-color: #fdfdfd;
  padding: 5rem 1rem;
  box-sizing: border-box;
}
#detailBox > .detail_area {
  width: 100%;
  height: 100%;
  margin: auto;
}
@media screen and (min-width: 640px) and (max-width: 1023px) {
  #detailBox > .detail_area {
    max-width: 580px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  #detailBox > .detail_area {
    max-width: 900px;
  }
}
@media screen and (min-width: 1440px) and (max-width: 1919px) {
  #detailBox > .detail_area {
    max-width: 1100px;
  }
}
@media screen and (min-width: 1920px) {
  #detailBox > .detail_area {
    max-width: 1300px;
  }
}
#detailBox > .detail_area > h3 {
  width: 100%;
  height: 40px;
  font-size: 1.2rem;
  text-indent: 1rem;
  font-weight: lighter;
  color: #aaa;
}
#detailBox > .detail_area > h3 > p {
  display: inline-block;
  text-indent: 0;
}

.film_info {
  width: 100%;
  height: auto;
  padding: 1rem;
  box-sizing: border-box;
  margin: auto;
  border-bottom: 1px solid #ddd;
}
@media screen and (max-width: 639px) {
  .film_info {
    height: 600px;
    padding: 0;
  }
}
.film_info > .poster_img {
  float: left;
  width: 40%;
  height: 300px;
}
@media screen and (max-width: 639px) {
  .film_info > .poster_img {
    float: none;
    width: 100%;
    height: 50%;
  }
}
.film_info > .info_text {
  float: right;
  width: 60%;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
}
@media screen and (max-width: 639px) {
  .film_info > .info_text {
    float: none;
    width: 100%;
    height: 50%;
    padding: 1rem 2rem;
  }
}
.film_info > .info_text > h4 {
  font-size: 2rem;
}
.film_info > .info_text > p {
  padding: 0.3rem;
  box-sizing: border-box;
  color: #666;
}
.film_info > .info_text > p:last-child {
  color: #333;
}

.film_cont {
  width: 100%;
  height: auto;
  min-height: 500px;
  margin: auto;
}
.film_cont > .film_photo {
  width: 100%;
  height: 300px;
  padding: 2rem;
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
}
@media screen and (max-width: 639px) {
  .film_cont > .film_photo {
    height: 150px;
    padding: 1rem;
  }
}
@media screen and (min-width: 640px) and (max-width: 1023px) {
  .film_cont > .film_photo {
    height: 200px;
  }
}
.film_cont > .film_photo > ul {
  width: 100%;
  height: 100%;
}
.film_cont > .film_photo li {
  float: left;
  width: 32%;
  height: 100%;
  margin-right: 2%;
  border: 1px solid #333;
  box-sizing: border-box;
  background-color: #ddd;
}
.film_cont > .film_photo li:last-child {
  margin-right: 0;
}
.film_cont > .film_video {
  width: 100%;
  height: auto;
  min-height: 300px;
  padding: 2rem;
  box-sizing: border-box;
}
@media screen and (max-width: 639px) {
  .film_cont > .film_video {
    padding: 1rem;
  }
}
.film_cont > .film_video > video {
  width: 100%;
  height: 100%;
}