// aboutCompany.scss
/* aboutCOmpany.css */

@import "../setting/color";
@import "../setting/mixin";

#wrap{
  width: 100%; height:auto; min-height: 1500px;
  margin: auto;
}


.area_full{
  max-width: 900px; margin: auto;
  @include Tab(){
    max-width: 580px;
  }
  @include laptop(){
    max-width: 900px;
  }
  @include Pc(){
    max-width: 1100px;
  }
  @include PcFull(){
    max-width: 1300px;
  }
}

#viewBox{
  width: 100%; height: 100vh;
  >h2{
    position: absolute;
    left: 10%; top: 40%; z-index: 100;
    font-size: 5rem;
    color: nth($colorList,1);
    text-transform: uppercase;
    text-shadow: 0.2rem 0.2rem 0.2rem #000;
  }
}
.video_bg{
  overflow: hidden;
  position: relative;
  width: 100%; height: 100%;
  >.video{
    /* full size 만들기 */
    position: absolute; top: 50%; left: 50%;
    width: auto; min-width: 100%;;
    height: auto; min-height: 100%;
    border: 0;
    transform: translate(-50%, -50%);
  }
}

// #conBox
#conBox{
  position: relative;
  width: 100%; height: auto; min-height: 800px;
  padding-top: 150px; box-sizing: border-box;
  background-image: linear-gradient(nth($natural,3),nth($natural,1));
  &:after{
    content: "";
    display: block; clear: both;
  }
}

.title_bg{
  position: absolute;
  top: 400px;
  width: 60%; min-width: 400px; max-width: 1700px;
  height: 90px;
  margin-left: 5%;
  background-color: nth($colorList,1);
  >h2{
    position: absolute; top: 50px;
    font-size: 4rem;
    color: #fdfdfd;
    text-shadow: 0.2rem 0.2rem 0.2rem #000;
    width: 100%; height: 100%;
    margin-left: 50%;
    text-transform: uppercase;
  }
}
.con_text{
  position: absolute;
  top: 600px;
  width: 70%; height: auto;
  padding: 60px; box-sizing: border-box; 
  // background-color: #ba9;
  >p{
    width: 100%; height: auto;
    color: #fdfdfd;
    font-size: 1.5rem;
  }
}
.con_img_bg{
  float: right;
  width: 45%; height: 700px;
  // padding: 200px; box-sizing: border-box; 
  // // background-color: #ba9;
  >.con_img{
    width: 100%; height: 100%;
    background-image: url('../../img/showbox/bg-pattern.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto 100%;
  }
}

#shortHistory{
  width: 100%; height: auto; min-height: 800px;
  background-color: #060c08;
}
.his_area{
  width: 100%; height: 100%;
  >ul{

  }
  li{
    width: 100%; height: 400px;
    div{width: 50%; height: 100%;}
    &:nth-child(2n+1){
      >.img{float:left;  background-color: #fcc;}
      >.text{float: right; background-color: #cfc;}
    }
    &:nth-child(2n){
      >.img{float:right; background-color: #fcc;}
      >.text{float: left; background-color: #cfc;}
    }
  }
}

#conBox02{
  width: 100%; height: auto; min-height: 600px;
  background-color: #060c08;
}