// aboutCompany.scss
/* aboutCOmpany.css */

@import "../setting/color";
@import "../setting/mixin";

#wrap{
  width: 100%; height:auto; min-height: 1500px;
  margin: auto;
}

// #headBox{
//   background-color: #fff;
// }
// #headBox dl{
//   color: #060c08;
// }
#viewBox{
  width: 100%; height: 100vh;
}
#viewBox > h2{
  position: absolute;
  left: 10%; top: 40%; z-index: 100;
  font-size: 5rem;
  color: nth($colorList,1);
  text-transform: uppercase;
  text-shadow: 0.2rem 0.2rem 0.2rem #000;
}
.video_bg{
  overflow: hidden;
  position: relative;
  width: 100%; height: 100%;
}
.video_bg > .video{
  /* full size 만들기 */
  position: absolute; top: 50%; left: 50%;
  width: auto; min-width: 100%;;
  height: auto; min-height: 100%;
  border: 0;
  transform: translate(-50%, -50%);
}

#conBox{
  position: relative;
  width: 100%; height: auto; min-height: 1500px;
  padding-top: 200px; box-sizing: border-box;
  background-image: linear-gradient(nth($natural,1),nth($natural,3));
}
#conBox:after{
  content: "";
  display: block; clear: both;
}

.title_bg{
  position: absolute;
  top: 400px;
  width: 60%; min-width: 400px; max-width: 800px;
  height: 90px;
  margin-left: 5%;
  background-color: nth($colorList,1);
}
.title_bg > h2{
  position: absolute; top: 50px;
  font-size: 4rem;
  color: #fdfdfd;
  text-shadow: 0.2rem 0.2rem 0.2rem #000;
  width: 100%; height: 100%;
  margin-left: 50%;
  text-transform: uppercase;
}

.con_img_bg{
  float: right;
  width: 50%; height: 800px;
  // padding: 200px; box-sizing: border-box; 
  // // background-color: #ba9;
}
.con_img{
  width: 100%; height: 100%;
  background-image: url('../../img/showbox/bg-pattern.png');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size:  100% auto; 
}
