// lineUp.scss
/* lineUp.css */

@import "../setting/color";
@import "../setting/mixin";

#wrap{
  width: 100%; height: auto;
}

/* #titleBox */
#titleBox{
  width: 100%; height: 300px;
  background-color: #fdfdfd;
}
#titleBox h2{
  width: 100%; height: 50px; 
  padding-top: 150px; box-sizing: border-box;
  font-size: 50px; text-align: center;
  text-transform: uppercase;
}
.title_img{
  width: 100%; height: 100%;
}

/* #searchBox  */
#searchBox{
  width: 100%; height: 150px;
  /* height: 420px; */
  background-color: #fdfdfd;
  padding-top: 50px; box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}
.search_area{
  width: 100%; height: auto;
}
.search_area>fieldset{
  position: relative;
  width: 70%; height: auto;
  margin: auto;
}
.search_area>fieldset>input{
  outline: 0;
  border-top-left-radius: 25px; border-bottom-left-radius: 25px;
  border-top-right-radius: 25px; border-bottom-right-radius: 25px;
}
#searchArea{
  display: inline-block;
  width: 100%; height: 50px;
  padding: 6px 10px 0; box-sizing: border-box;
  border: 3px solid #333;
  background-color: #fdfdfd;
  text-align: left;
  line-height: 40px;
  font-size: 1rem;
}
.store_btn_area{
  position: absolute; top: 10px; right: 20px;
  width: auto; height: auto;
}
.sendBtn{
  display: inline-block;
  width: 30px; height: 30px;
  margin-left: 10px;
  font-size: 1.5rem; color: #060C08;
}

/* // #searchBox  */

/* #filmBox */
#filmBox{
  width: 100%; height: auto; min-height: 1000px;
  background-color: #fdfdfd;
  padding: 3rem 1rem; box-sizing: border-box;
  @include Mob(){
    min-height: 500px;
  }
}

.lineup_area{
  width: 100%; height: 100%; max-width: 900px; 
  margin: auto;
}
.area_full{
  max-width: 900px; margin: auto;
  @include Tab(){
    max-width: 580px;
  }
  @include laptop(){
    max-width: 900px;
  }
  @include Pc(){
    max-width: 1100px;
  }
  @include PcFull(){
    max-width: 1300px;
  }
}
.tab_area{
  width: 100%; height: 150px; 
  margin: auto;
  padding: 55px 0 45px; box-sizing: border-box;
  border-bottom: 1px solid #ccc;
  text-align: center;
  @include Mob(){
    padding: 20px 0;
  }
}
.tab_list{
  display: inline-block;
  margin: auto;
  >li{
    display: inline-block;
    margin: 0 14px 20px;
    position: relative;
    &:first-child{
      margin-left: 0;
    }
    &:first-child:before{
      content: " ";
    }
    &:before{
      content: '/';
      position: absolute;
      left: -22px;
      font-size: 24px;
      top: 3px;
      color: #ccc;
      font-weight: 300;

    }
    >a{
      position: relative;
      display: block;
      color: #999;
      font-size: 24px;
      line-height: 34px;
      letter-spacing: -0.2px;
      text-transform: capitalize;
      &:before{
        content: '';
        width: 100%;
        height: 2px;
        position: absolute;
        left: 0;
        bottom: -4px;
        background-color: #f93;
        transition: all 0.2s ease-out;
        transform: translateY(3px);
        visibility: hidden;
        opacity: 0;
      }
    }
    &:hover a:before{
      transform: translateY(0px);
      visibility: visible;
      opacity: 1;
    }
  }
}

.film_area{
  position: relative;
  width: 100%; height: 100%; margin: auto;
  padding: 5rem 1rem; box-sizing: border-box;
  background-color: #fff; 
  @include Mob(){
    overflow: hidden;
    >.slide_btn{display: block;}
  }
}

/* slide_btn */
.slide_btn{
  display: none;
  position: absolute; top: 50%; left: 0; right: 0; z-index: 5;
  width:96%; height:0; margin: auto; background-color: #f93; margin-top: -55px;}
.slide_btn button{float:left; width: 30px; height: 50px; background-color: #fdfdfd;}
.slide_btn .next{float: right;}

.film_list{
  width: 100%; height: 100%; 
  @include Mob(){
    width: 800%;
    li{float:left; width: 12.5%; height: 425px;}
  }

  li{
    float: left; width: 25%; height: 412px; 
    padding: 10px; box-sizing: border-box;
  
    @include Tab(){
      width: 33.333333%; height: 379px;
    }
    @include Pc(){
      width: 20%; height: 380px;
    }
    @include PcFull(){
      width: 16.666667%; height: 393px;
    }
  }
}

.img_bg{
  width: 170px; height: 240px; margin:auto; position: relative;
  @include Mob(){
    width: 210px;  height: 300px;
  }
}
.film_list dl{
  width: 100%; height:auto; margin: auto;
  max-width: 160px;
  @include Mob(){
    width: 70%; max-width: 200px;
  }
}

/* poster hover, focus 이미지 */
.film_list a .img_bg:before {
  content:" "; display: block;
  position: absolute; top:0; left:0; 
  width: 100%; height: 100%; background-color: rgba(251, 151,57, 0);
  transition:background-color 300ms linear;
 }
 
 .film_list a:hover .img_bg:before, 
 .film_list a:focus .img_bg:before{
   background-color: rgba(251, 151,57, 0.7);
 }
 
 .film_list a .img_bg:after{
   content:" "; display: block;
    width: 100%; height: 100%;
    position: absolute; top:0; left: 0;
    /* background-image: url('../../../../img/new_menu/menu_on.png'); */
    background-repeat: no-repeat;
    background-position: 50% 300%;
    background-size: 100% auto;
    transition:all 200ms linear 100ms;
    opacity: 0;
 } 
 
 .film_list a:hover .img_bg:after,
 .film_list a:focus .img_bg:after{
   opacity: 1; background-position-y:-50%;
 }

