/* showBoxHeadBox.css */


#headBox{
  position: relative;
  width: 100%; height: 90px; max-width: 1440px; margin: auto;
  padding: 0 42px; box-sizing: border-box;
  background-color: #060C08;  
}
h1{float:left; width: 200px; height: 100%; background-color: #f93;}
#gnbBox{position: relative; left:50px; right:0; width:60%; min-width: 560px; height: auto; margin: auto; background-color: transparent;}


.gnb_area{width: 100%; height: auto;}
.gnb_area>li{float: left; width: 22.5%; height: auto; text-align: center; text-transform: uppercase; color: #fdfdfd;}
.gnb_area>li:first-child{width: 28%;}

.gnb_area dl{width: 100%; height: 100%;}
.gnb_area dt{width: 100%; height: 100%; line-height: 90px; position: relative; font-size: 1.1rem; font-weight: bold;}
.gnb_area dd{width: 100%; height: auto; font-size: 0.9rem;}

header .gnb_sub{position:absolute; top:100%; left:0; right:0; width: 100%; height: auto; background-color: #333;  margin: auto; text-align: center;
  padding: 0 100rem;  margin: 0 -100rem; 
}
.gnb_sub li{display: inline-block; width: auto; height: auto; line-height: 30px; text-align: left; padding: 5px 20px; box-sizing: border-box; }

dt>a:hover, dt>a:focus {
  color: #f93;
}
dt>a:before, dt>a:after{
  content: '';
  border-bottom: solid 3px #666;
  position: absolute;
  bottom: 0;
  width: 0;
}
dt>a:before { left: 0; }
dt>a:after { right: 0; }

dt>a:hover:before, dt>a:hover:after,
dt>a:focus:before, dt>a:focus:after {
  width: 50%;
}

dt>a:before, dt>a:after {
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

dd a:hover{text-decoration: underline;}


.sub_area{position:absolute; top:0; right:42px; width: auto; height: 100%;}
.lang_area{float: left; width: auto; height: 100%; margin-right: 20px;}
.lang_area>ul{width: 60px; height: 30px; margin-top: 30px;}
.lang_area li{float:left; width: 47%; height: 100%; color: #fdfdfd; line-height: 30px; text-decoration: underline; text-transform: capitalize; text-align: center;} 
.lang_area li:last-child{float: right;}
.pull_btn{float: right; width: 30px; height: 30px; margin-top: 30px; background-color: #fdfdfd;}
/* // #headBox ==================================================== */