/* main_tab.css */

@media screen and (min-width:640px) and (max-width:1023px){

  .area_full{max-width: 580px;}
  /* viewBox */

  /* #filmBox */
  .film_area{max-width: 580px;}
  .film_list li{width: 33.333333%; height: 379px;}

  /* #photoBox */
  .photo_frame{
    padding-left: 2%;
  }
  .photo_list{width: 400%;}
  /* .photo_list li{width: 12.5%;} */


  /* @media end */
}