/* main_base.css */

/* 1024px base */
#wrap{
  width: 100%; height: 100%;
}

/* #viewBox ====================================================== */
#viewBox{
  position: relative;
  width: 100%; height: 600px;
}
/* slide_btn */
.slide_btn{position: absolute; top: 50%; left: 0; right: 0; width:96%; height:0; margin: auto; background-color: #f93; margin-top: -55px;}
.slide_btn button{float:left; width: 30px; height: 50px; background-color: #fdfdfd;}
.slide_btn .next{float: right;}

/* indicator */
.indicator{position:absolute; left:0; bottom:0; width: 100%; height: 60px; background-color: #060C08; overflow: hidden;}
.indi_title{width: 250%; height: 100%; padding: 10px 0; box-sizing: border-box;}
.indi_title li{float:left; width: 12.5%; height: 100%; text-align: center; color: #ddd; text-transform: uppercase; line-height: 40px; font-size: 1.2rem; border-right: 2px solid #ddd;}

.indi_title li.active{font-weight: bold;}

/* 화면 전체 이미지 슬라이드 */
.view_film{
  position: absolute; top: 0; left: 0; z-index: -1;
  width: 100%; height: 100%; 
  overflow: hidden;
}
.view_film_wrap{width: 800%; height: 100%; }
.view_film li{
  float:left; 
  width: 12.5%; height: 100%;
}

/* viewBox 슬라이드 추가 설명 영역 */
.viewBanner_content{position:absolute; left:10%; bottom:100px; width: 50%; height: 30%;}
.viewBanner_content h3{color: #fdfdfd; text-shadow: 0.2rem 0.2rem 0.2rem #060c08;}
.viewBanner_content h3:after{background-color: #f93; box-shadow: 0.1rem 0.1rem 0.1rem #573a00; margin-top: 5px;}
.viewBanner_bg{width: 100%; height: auto;}
.viewBanner_bg ul{position:relative; width: 100%; height: auto;}
.viewBanner_bg li{
  position: absolute; top: 0; left: 0; z-index: 0; 
  width: 100%; height: auto;
  color: #fdfdfd; text-shadow: 0.2rem 0.2rem 0.2rem #060c08;
  display: none;
}
.viewBanner_bg li:active{
	z-index: 10;
}
/* // #viewBox ==================================================== */

/* #filmBox ====================================================== */
#filmBox{
  width: 100%; height: auto; min-height: 990px;
  background-color: #fdfdfd;
  padding: 5rem 1rem; box-sizing: border-box;
}
h3{width: 100%; height: 60px; font-size: 2rem; text-transform: uppercase;}
h3::after, h3:after{ content :" "; display:block; width:50px; height:5px; background-color:#333; }
.film_area{width: 80%; height: 100%; background-color: #fff; margin: auto;}
.film_list{width: 100%; height: 100%;}
.film_list li{float: left; width: 25%; height: 380px; padding: 10px; box-sizing: border-box;}

.img_bg{width: 90%; height: 240px; position: relative;}

/* poster hover, focus 이미지 */
#filmBox a .img_bg:before {
  content:" "; display: block;
  position: absolute; top:0; left:0; width: 100%; height: 100%; 
  width: 100%; height: 100%; background-color: rgba(251, 151,57, 0);
  transition:background-color 300ms linear;
 }
 
 #filmBox a:hover .img_bg:before, 
 #filmBox a:focus .img_bg:before{
   background-color: rgba(251, 151,57, 0.7);
 }
 
 #filmBox a .img_bg:after{
   content:" "; display: block;
    width: 100%; height: 100%;
    position: absolute; top:0; left: 0;
    /* background-image: url('../../../../img/new_menu/menu_on.png'); */
    background-repeat: no-repeat;
    background-position: 50% 300%;
    background-size: 100% auto;
    transition:all 200ms linear 100ms;
    opacity: 0;
 } 
 
 #filmBox a:hover .img_bg:after,
 #filmBox a:focus .img_bg:after{
   opacity: 1; background-position-y:-50%;
 }

/* // #filmBox ==================================================== */

/* #videoBox ====================================================== */
#videoBox{
  width: 100%; height: 300px;
  background-color: #060c08;
  padding: 5px; box-sizing: border-box;
  overflow: hidden;
}

.movie_play{
  position: relative;
  width: 100%; height: 100%; background-color: #888;
  background-image: url("../../../img/movieBox/movie_thum.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
  cursor: pointer;
}

.btn_area{ 
  position: absolute; top: 50%; left: 50%;  
  width: auto; height: auto;
  transform: translateX(-50%);
  margin-top: -1.5rem;
  color: #fdfdfd;
  font-size: 3rem;
}

.movie_info{ 
  position: absolute;
  bottom: 20%; left: 10%;
  width: 100%; height: 20%;
  color: #fdfdfd;
}
.movie_info h3:after{background-color: #ddd;} 

/* modal css */
.big_modal{
  display: none;
  position: fixed; top: 0; left: 0; z-index: 1500;
  width: 100%; height: 100%;
}
.big_movie{
  position: absolute; left: 0; right: 0; top: 0; bottom: 0; margin: auto;
  width: 90%; height: 90%;
  /* max-width: 1300px; max-height: 1000px; */
  box-sizing: border-box;
  background-color: #000;
  border-radius: 0.2rem;
  padding: 3rem 1rem; box-sizing: border-box;
}
.video_info{width: 0; height: 0;}
.big_movie video{width: 100%; height: 100%; margin: auto;}

.close_btn{
  position: absolute; right: 0; top: 0;
  width: 3rem; height: 3rem;
  box-sizing: border-box;
  border-radius: 100%;
}
.close_btn>button{
  position: relative;
  display: block;
  width: 100%; height: 100%; border-radius: 100%;
}
.close_btn>button:before,
.close_btn>button:after{
  content: " "; display: block; position: absolute;
  top: 0; bottom: 0; left: 0; right: 0; margin: auto;
  width: 70%; height: 4px; background-color: #fff;
  /* box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.8); */
  /* border-radius: 2px; */
  transition: transform 500ms ease;
}
.close_btn>button:before{
  transform: rotate(45deg);
}
.close_btn>button:after{
  transform: rotate(-45deg);
}
/* close_btn 애니메이션 css */
/* .close_btn>button:hover:before,
.close_btn>button:focus:before{
  transform: rotate(180deg) translateY(-10px);
}
.close_btn>button:hover:after,
.close_btn>button:focus:after{
  transform: rotate(180deg) translateY(10px);
} */
.big_bg{
  width: 100%; height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

/* // #videoBox ==================================================== */

/* #photoBox ====================================================== */
#photoBox{
  width: 100%; height: 480px;
  background-color: #fdfdfd;
  padding: 5rem 0rem; box-sizing: border-box;
}
.photo_area{
  width: 80%; height: 100%; background-color: #fff; margin: auto;
}

.photo_frame{
  position:relative;
  width: 100%; height: 240px; 
  /* padding: 0 10rem;
  margin: 0 -10rem; */
  background-image: url('../../../img/photoBox/1x/photoBox_bg_long.png');
  background-repeat: repeat;
  background-size: auto 100%;
  background-position: left top;
  padding: 20px 0; box-sizing: border-box;
  overflow: hidden;
}

#photoBox .btn_area{
  position: absolute; top: 50%; left: 50%; z-index: 100;
  transform: translateX(-50%);
  width: 98%; height: 0;
  margin-top: -15px;
}
#photoBox .btn_area>button{
  float: left;
  width: 20px; height: 30px;
  background-color: #fff;
}
#photoBox .btn_area>button:first-child{float: right;}

.photo_list{width: 200%; height: 100%;}
.photo_list li{float: left; width: 10%; height: 100%;}
.photo_list li .img_bg{width: 100%; height: 100%;}
.photo_list li:nth-child(1){background-color: #555;}
.photo_list li:nth-child(2){background-color: #666;}
.photo_list li:nth-child(3){background-color: #777;}
.photo_list li:nth-child(4){background-color: #999;}
.photo_list li:nth-child(5){background-color: #555;}
.photo_list li:nth-child(6){background-color: #666;}
.photo_list li:nth-child(7){background-color: #777;}
.photo_list li:nth-child(8){background-color: #999;}
/* // #photoBox ==================================================== */

/* #searchBox ====================================================== */
#searchBox{
  width: 100%; height: 220px;
  /* height: 420px; */
  background-color: #060C08;

}
.search_icon{
  position: relative; top:-40px; left:0; right:0; margin: auto;
  width: 90px; height:90px; border-radius:100%;
  background-color: #060C08; 
  color: #fdfdfd; text-align: center; line-height: 70px; font-size: 2rem;
}
.search_area{
  width: 100%; height: auto;
}
.search_area>fieldset{
  position: relative;
  width: 70%; height: auto;
  margin: auto;
}
.search_area>fieldset>input{
  outline: 0;
  border-top-left-radius: 25px; border-bottom-left-radius: 25px;
  border-top-right-radius: 25px; border-bottom-right-radius: 25px;
}
#searchArea{
  display: inline-block;
  width: 100%; height: 50px;
  padding: 6px 10px 0; box-sizing: border-box;
  border: 3px solid #333;
  background-color: #fdfdfd;
  text-align: left;
  line-height: 40px;
  font-size: 1rem;
}
.store_btn_area{
  position: absolute; top: 10px; right: 20px;
  width: auto; height: auto;
}
.sendBtn{
  display: inline-block;
  width: 30px; height: 30px;
  margin-left: 10px;
  font-size: 1.5rem; color: #060C08;
}

/* // #searchBox ==================================================== */

/* #aboutBox ====================================================== */
#aboutBox{
  position: relative;
  width: 100%; height: 480px;
  background-color: #f93;
  padding: 5rem 0rem; box-sizing: border-box;
}
.about_area{width: 80%; height: 100%; margin: auto;}
.about_img{
  position: absolute; top: 0; right: 0;
  width: 50%; height: 100%;
  /* background-color: #ddd; */
  background-image: url('../../../img/showbox/bg-pattern.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto;
}
.about_info{
  width: 60%; height: auto; 
}
/* // #aboutBox ==================================================== */
