/* main_base.css */

/* color
* base
    #060C08
    #333
    #666
    #ddd
    #fdfdfd
* primary
    #f93
    #f39208
    #ff6600
    #573a00
    #573a00
*/

/* 1024px base */
#wrap{
  width: 100%; height: 100%;
}

/* #viewBox ====================================================== */
#viewBox{
  width: 100%; height: 540px;
  background-color: #666;

}

/* .slide_btn{} */
/* .indicator{} */
/* .indicator_title{} */
/* .view_film_wrap{} */
/* .view_film{} */
/* // #viewBox ==================================================== */

/* #filmBox ====================================================== */
#filmBox{
  width: 100%; height: auto; min-height: 990px;
  background-color: #fdfdfd;

}
/* // #filmBox ==================================================== */

/* #videoBox ====================================================== */
#videoBox{
  width: 100%; height: 300px;
  background-color: #333;

}
/* // #videoBox ==================================================== */

/* #photoBox ====================================================== */
#photoBox{
  width: 100%; height: 480px;
  background-color: #fdfdfd;

}
/* // #photoBox ==================================================== */

/* #searchBox ====================================================== */
#searchBox{
  width: 100%; height: 420px;
  background-color: #060C08;

}
/* // #searchBox ==================================================== */

/* #aboutBox ====================================================== */
#aboutBox{
  width: 100%; height: 480px;
  background-color: #f93;

}
/* // #aboutBox ==================================================== */

/* #footBox ====================================================== */
#footBox{
  width: 100%; height: 240px;
  background-color: #060C08;

}
/* // #footBox =================================================== */
