/* main_mob.css */

@media screen and (max-width:639px){

  #filmBox{min-height: 500px;}
  .film_area{width: 100%;}
  .film_list{width: 800%; /*margin-left: -66.6666%;*/ }
  .film_list li{float:left; width: 12.5%; height: 425px; padding: 2rem; padding-right: 1rem; }
  .img_bg{width: 100%; height: 100%; height: 300px;}
  /* .film_list dl{text-align: center;} */
  /* @media end */
}